# Dependencies
node_modules
.pnpm-store

# Build outputs
dist/
build/
.next/
.turbo
**/tsconfig.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
yarn-error.log
npm-debug.log*

# OS files
**/.DS_Store
Thumbs.db

# IDE
.idea
.vscode
monorepo.code-workspace

# Testing
coverage/
.nyc_output/

# Temporary files
*.tmp
*.swp
.claude